html {
    width: 1020px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}
.portfolio {
    width: 1020px;
    height: 870px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.portfolio-header {
    margin-left: 50px;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 600px;
    padding-left: -40px;
}
li {
    list-style: none;
}
h1 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    letter-spacing: 1px;
}
p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
}
.portfolio {
    display: flex;

}
img {
    width: 220px;
    height: 187px;
    background-color: #464b5e;
}
.about-us {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px #ffffff;
}